Hello {{ user.first_name }},

You're receiving this email because you requested a password reset for your Topsky Virtual Airlines account.

To reset your password, please click the following link:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

If clicking the link doesn't work, copy and paste it into your browser's address bar.

This link will expire in 24 hours for security reasons.

If you didn't request this password reset, please ignore this email. Your account will remain secure.

Your username: {{ user.get_username }}

Happy flying!
The Topsky Virtual Airlines Team 